@import url("../global.css");

.footer-custom {
  background-color: var(--secondary-color);
  color: white;
  padding: 80px 0 30px 0;
}

.footer-custom p,
.footer-custom span,
.footer-custom li,
.footer-custom .text-muted {
  color: rgba(255, 255, 255, 0.7) !important;
}

.footer-custom p {
  font-weight: 300 !important;
  font-size: 0.8rem;
}

.footer-custom span {
  font-weight: 300 !important;
  font-size: 0.8rem;
}

/* Column Titles */
.footer-custom h4,
.footer-custom h5,
.footer-custom h6 {
  color: var(--text-white) !important;
  font-family: 'Public Sans', sans-serif;
  font-weight: 500 !important;
}

/* Links */
.footer-custom a,
.footer-custom a.text-muted {
  font-size: 0.8rem;
  font-weight: 400 !important;
  color: var(--text-fade) !important;
  text-decoration: none;
  display: inline-block;
  transition: linear 0.2s;
}

.footer-custom a:hover,
.footer-custom a.text-muted:hover {
  transform: scale(1.025) !important;
  color: var(--text-white) !important;
}

/* Social Icons */
.footer-social-icon {
  display: inline-block;
}

.footer-social-icon:hover {
  transform: scale(1.2) !important;
  transition: all 0.3s ease;
}
