@import url("../global.css");

.roomSwiper {
  padding: 20px 50px 50px 50px;
  margin: -20px -50px;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color) !important;
  background-color: white;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  top: 45% !important;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--primary-color);
  color: white !important;
  transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem !important;
  font-weight: 800;
}

/* Responsive */
@media (max-width: 767px) {
  .room-card-img-wrapper {
    height: 200px;
  }
  .roomSwiper {
    padding: 10px 0 50px 0;
    margin: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
